services:
  api:
    build: .
    environment:
      - PORT=3000
      - AWS_REGION=us-east-1
      - AWS_SQS_QUEUE_URL=http://localstack:4566/000000000000/webhooks-queue
      - AWS_SQS_DLQ_URL=http://localstack:4566/000000000000/webhooks-dlq
      - WEBHOOK_TARGETS_STORAGE=db
      - DB_URL=postgres://postgres:postgres@postgres:5432/checkout_pix
    ports:
      - "3000:3000"
    depends_on:
      - localstack
      - postgres
  localstack:
    image: localstack/localstack:3.3
    environment:
      - SERVICES=sqs
      - DEBUG=1
    ports:
      - "4566:4566"
    volumes:
      - localstack_data:/var/lib/localstack
  postgres:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=checkout_pix
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  localstack_data:
  postgres_data:
